<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>ChosunNm.ttf</string>
		<string>ChosunKm.TTF</string>
		<string>ChosunSm.TTF</string>
		<string>YoonChild.otf</string>
		<string>산돌국대떡볶이체.otf</string>
		<string>Cafe24Classictype-v1.1.ttf</string>
		<string>GravitasOne-Regular.ttf</string>
		<string>이서윤체.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
